---
layout: page
title: "About"
description: "About our Church"
header-img: "img/board-bg.jpg"
---

<h2>Services and Schedule</h2>
<hr>
<ul>
  {% for item in site.ServicesAndSchedule %}
    {% assign mod = forloop.index0 | modulo:2 %}
    {% if mod == 0 %}
      <li>{{ item.line }}
      <br>
    {% else %}
      <i>{{ item.line }}</i>
      </li>
      </br>
    {% endif %}
  {% endfor %}
</ul>
<hr>

<br>

<h2>Our Message</h2>
<span class="meta"><i>The fundamentals of our faith</i></span>
<hr>
<ul>
  {% for item in site.OurMessage %}
    {% if forloop.index == 1 %}
    <!-- church theme verse goes here -->
      <blockquote>{{ item.line }}</blockquote>
    {% else %}
    <!-- calvary's x goes here -->
      {% assign mod = forloop.index | modulo:2 %}
      {% if mod == 0 %}
        <li>{{ item.line }}
        <br>
      {% else %}
      <!-- italicize the point exposition -->
        <i>{{ item.line }}</i>
        </li>
        </br>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
<hr>

<br>

<h2>Our Church</h2>
<span class="meta"><i>Location</i></span>
<hr>
  <div style="width:96px; height:96px; background-image:url('/img/churchphotos/church.jpg'); background-size:128px 96px;" class="div-circle"></div>
  <p>
    516 W Jefferson
    <br />
    St Peter, Minnesota
  </p>
<hr>

<br>

<h2>Our Pastor</h2>
<span class="meta"><i>Pastor Dave Johnson</i></span>
<hr>
  <div style="width:96px; height:96px; background-image:url('/img/pastordaveprof.png'); background-size:96px 96px;" class="div-circle"></div>
  <p>
    After graduating from Pillsbury Baptist Bible College in Owatonna, Minnesota, Pastor Dave continued his theological education by attending Central Baptist Theological Seminary in Minneaplolis,  Minnesota, and Bob Jones University in Greenville, South Carolina, achieving Master of Divinity and Doctor of Philosophy, respectively.
  </p>
  <p>
    Pastor Dave served earlier as pastor at several other churches across the nation before arriving at Calvary in 2008.
  </p>

<hr>

<br>
