---
layout: page
title: "About"
description: "About our Church"
header-img: "img/board-bg.png"
---

<h2>Services and Schedule</h2>
<hr>
<ul>
  {% for item in site.ServicesAndSchedule %}
    {% assign mod = forloop.index0 | modulo:2 %}
    {% if mod == 0 %}
      <li>{{ item.line }}
      <br>
    {% else %}
      <i>{{ item.line }}</i>
      </li>
      </br>
    {% endif %}
  {% endfor %}
</ul>

<h2>Our Message</h2>
<span class="meta"><i>The fundamentals of our faith</i></span>
<hr>
<ul>
  {% for item in site.OurMessage %}
    {% if forloop.index == 1 %}
      <blockquote>{{ item.line }}</blockquote>
    {% else %}
      {% assign mod = forloop.index | modulo:2 %}
      {% if mod == 0 %}
        <li>{{ item.line }}
        <br>
      {% else %}
        <i>{{ item.line }}</i>
        </li>
        </br>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
<hr>

<h2>Our Church</h2>
<span class="meta"><i>Location and History</i></span>
<hr>
  Located in Saint Peter, Minnesota
  <br>
  //more to come
<hr>

<h2>Our Pastor</h2>
<span class="meta"><i>Pastor Dave Johnson</i></span>
<hr>
//more to come
<hr>
